<!-- Products Page extends from base.html -->
{% extends "base.html" %}
<!-- Load static files -->
{% load static %}
<!-- Load cart_tools with calc_subtotal filer -->
{% load cart_tools %}

<!-- Page header pushes content to bottom of main navbar -->
{% block page_header %}
    <!-- Grid container containing single row -->
    <div class="container header-container">
        <!-- Row containing empty column -->
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Container with 2 ROWs -->
    <div class="container mb-2">
        <!-- ROW 1: Shopping cart heading -->
        <div class="row">
            <!-- COL for shopping cart heading -->
            <div class="col">
                <hr>
                <h2 class="logo-font mb4">
                    Shopping Cart
                </h2>
                <hr>
            </div>
        </div>

        <!-- ROW 2: Table of cart contents -->
        <div class="row">
            <!-- COL for table of cart contents-->
            <div class="col">
                <!-- Only render table if contents present in cart -->
                {% if cart_items %}
                    <div class="table-responsive rounded">
                        <!-- Table -->
                        <table class="table-sm table-borderless">
                            <!-- Table header row -->
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            <!-- Create row for each item -->
                            {% for item in cart_items %}
                                <tr>
                                    <!-- Product image -->
                                    <td class="p-3 w-25">
                                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-fluid rounded">
                                    </td>
                                    <!-- Name, SKU -->
                                    <td class="py-3">
                                        <p class="my-0">
                                            <strong>
                                                {{ item.product.name }}
                                            </strong>
                                        </p>
                                        <p class="my-0 small text-muted">
                                            SKU: {{ item.product.sku|upper }}
                                        </p>
                                    </td>
                                    <!-- Price -->
                                    <td class="py-3">
                                        <p class="my-0">
                                            ${{ item.product.price }}
                                        </p>
                                    </td>
                                    <!-- Form to increment/decrement/display number of items in cart -->
                                    <td class="py-3">
                                        <p class="my-0">
                                            <form class="form update-form" action="{% url 'adjust_cart' item.item_id %}" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <!-- Deccrement button -->
                                                        <div class="input-group-prepend">
                                                            <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                                <span>
                                                                    <i class="fas fa-minus fa-sm"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                        <!-- Quantity selector -->
                                                        <input type="number" class="form-control form-control-sm qty-input" 
                                                            name="quantity" value="{{ item.quantity }}" min="1" max="99" 
                                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                        <!-- Increment button -->
                                                        <div class="input-group-append">
                                                            <button class="increment-qty btn btn-sm btn-black rounded-0" 
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                                <span>
                                                                    <i class="fas fa-plus fa-sm"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- Update cart -->
                                            <a class="update-link text-info">
                                                <small>Update</small>
                                            </a>
                                            <!-- Remove item -->
                                            <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}">
                                                <small>Remove</small>
                                            </a>
                                        </p>
                                    </td>
                                    <!-- Subtotal -->
                                    <td class="py-3">
                                        <p class="my-0">
                                            <!-- Use calc_subtotal in cart_tools.py to calculate subtotal -->
                                            ${{ item.product.price | calc_subtotal:item.quantity }}
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <!-- Total of all items in cart without delivery -->
                                    <h6>
                                        <strong>
                                            Cart Total: ${{ total|floatformat:2 }}
                                        </strong>
                                    </h6>
                                    <!-- Delivery costs -->
                                    <h6>
                                        Delivery: ${{ delivery|floatformat:2 }}
                                    </h6>
                                    <!-- Total of all items in cart with delivery -->
                                    <h4 class="mt-4">
                                        <strong>
                                            Grand Total: ${{ grand_total|floatformat:2 }}
                                        </strong>
                                    </h4>
                                    {% if free_delivery_delta > 0 %}
                                        <!-- Inform user of amount extra they must spend to qualify for free delivery -->
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>$ {{ free_delivery_delta}}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <!-- Offer user option to keep shopping -->
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <!-- Checkout button -->
                                    <a href="" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">
                                            Secure Checkout
                                        </span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your Cart is empty</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<script type="text/javascript">
    // Update qty on click
    // Get click event on update link
    $('.update-link').click(function(e) {
        // Use previous method to find most recently seen update form in the DOM
        let form = $(this).prev('.update-form');
        // Call the form's submit method
        form.submit();
    })

    // Remove item and reload on click
    // Post data to url, reload page upon response to display updated cart
    $('.remove-item').click(function(e) {
        // Store csrf token as string
        let csrfToken = "{{ csrf_token }}";
        // Get item id by splitting id fo update link being clicked at '_' and saving second half of it
        let itemId = $(this).attr('id').split('remove_')[1];
        // Set url to be submitted
        let url = `/cart/remove/${itemId}/`;
        // Create object to use to send this data to the server
        // csrfmiddlewaretoken key will match the field django is expecting to see in request.POST when posted to server
        let data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        // Post to server
        $.post(url, data)
        // When done, execute funciton to reload the page
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}