<!-- Total of all items in cart without delivery -->
<h6>
    <strong>
        Cart Total: ${{ total|floatformat:2 }}
    </strong>
</h6>
<!-- Delivery costs -->
<h6>
    Delivery: ${{ delivery|floatformat:2 }}
</h6>
<!-- Total of all items in cart with delivery -->
<h4 class="mt-4">
    <strong>
        Grand Total: ${{ grand_total|floatformat:2 }}
    </strong>
</h4>
{% if free_delivery_delta > 0 %}
    <!-- Inform user of amount extra they must spend to qualify for free delivery -->
    <p class="mb-1 text-danger">
        You could get free delivery by spending just <strong>$ {{ free_delivery_delta}}</strong> more!
    </p>
{% endif %}