<!-- Products Page extends from base.html -->
{% extends "base.html" %}
<!-- Load static files -->
{% load static %}
<!-- Load cart_tools with calc_subtotal filer -->
{% load cart_tools %}

<!-- Page header pushes content to bottom of main navbar -->
{% block page_header %}
    <!-- Grid container containing single row -->
    <div class="container header-container">
        <!-- Row containing empty column -->
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Container with 2 ROWs -->
    <div class="container mb-2">
        <!-- ROW 1: Shopping cart heading -->
        <div class="row">
            <!-- COL for shopping cart heading -->
            <div class="col">
                <hr>
                <h2 class="logo-font mb4">
                    Shopping Cart
                </h2>
                <hr>
            </div>
        </div>

        <!-- ROW 2: Cart -->
        <div class="row">
            <div class="col">
                <!-- Only render if contents present in cart -->
                {% if cart_items %}
                    <!-- Cart: Mobile version -->
                    <div class="d-block d-md-none">
                        <!-- Cart total inc & excl devlivery -->
                        <div class="row">
                            <div class="col">
                                {% include "cart/cart-total.html" %}
                            </div>
                        </div>
                        <!-- Keep shopping/checkout buttons-->
                        <div class="row">
                            <div class="col">
                                {% include "cart/checkout-buttons.html" %}
                                <p class="text-muted mb-5">A summary of your cart contents is below</p>
                            </div>
                        </div>
                        <!-- Summery of cart contents -->
                        {% for item in cart_items %}
                            <div class="row">
                                <!-- Product image -->
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include "cart/product-image.html" %}
                                </div>
                                <!-- Product info: Name, SKU -->
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include "cart/product-info.html" %}
                                </div>
                                <!-- Price -->
                                <div class="col-12 col-sm-6 order-sm-last">
                                    <!-- Individual price -->
                                    <p class="my-0">Price Each: ${{ item.product.price }}</p>
                                    <!-- Use calc_subtotal in cart_tools.py to calculate subtotal -->
                                    <p><strong>Subtotal: </strong>${{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </div>
                                <!-- Form to increment/decrement/display number of items in cart -->
                                <div class="col-12 col-sm-6">
                                    {% include "cart/quantity-form.html" %}
                                </div>
                            </div>
                            <!-- hr after each product -->
                            <div class="row">
                                <div class="col">
                                    <hr>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- Back to top button -->
                        <div class="btt-button shadow-sm rounded-0 border border-black">
                            <a class="btt-link d-flex h-100">
                                <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                            </a>	
                        </div>
                    </div>

                    <!-- Cart: Larger screen version -->
                    <div class="table-responsive rounded d-none d-md-block">
                        <!-- Table -->
                        <table class="table-sm table-borderless">
                            <!-- Table header row -->
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            <!-- Create row for each item -->
                            {% for item in cart_items %}
                                <tr>
                                    <!-- Product image -->
                                    <td class="p-3 w-25">
                                        {% include "cart/product-image.html" %}
                                    </td>
                                    <!-- Product Info: Name, SKU -->
                                    <td class="py-3">
                                        {% include "cart/product-info.html" %}
                                    </td>
                                    <!-- Price -->
                                    <td class="py-3">
                                        <p class="my-0">
                                            ${{ item.product.price }}
                                        </p>
                                    </td>
                                    <!-- Form to increment/decrement/display number of items in cart -->
                                    <td class="py-3 w-25">
                                        {% include "cart/quantity-form.html" %}
                                    </td>
                                    <!-- Subtotal -->
                                    <td class="py-3">
                                        <p class="my-0">
                                            <!-- Use calc_subtotal in cart_tools.py to calculate subtotal -->
                                            ${{ item.product.price | calc_subtotal:item.quantity }}
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <!-- Cart total inc & exl delivery -->
                                <td colspan="5" class="pt-5 text-right">
                                    {% include "cart/cart-total.html" %}
                                </td>
                            </tr>
                            <tr>
                                <!-- Keep shopping/checkout buttons -->
                                <td colspan="5" class="text-right">
                                    {% include "cart/checkout-buttons.html" %}
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <!-- If cart is empty, allow users to continue shopping -->
                    <p class="lead mb-5">Your Cart is empty</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Back to top button functionality -->
<script type="text/javascript">
    $('.btt-link').click(function(e){
        window.scrollTo(0,0);
    })
</script>

{% include 'products/includes/quantity_input_script.html' %}
<script type="text/javascript">
    // Update qty on click
    // Get click event on update link
    $('.update-link').click(function(e) {
        // Use previous method to find most recently seen update form in the DOM
        let form = $(this).prev('.update-form');
        // Call the form's submit method
        form.submit();
    })

    // Remove item and reload on click
    // Post data to url, reload page upon response to display updated cart
    $('.remove-item').click(function(e) {
        // Store csrf token as string
        let csrfToken = "{{ csrf_token }}";
        // Get item id by splitting id fo update link being clicked at '_' and saving second half of it
        let itemId = $(this).attr('id').split('remove_')[1];
        // Set url to be submitted
        let url = `/cart/remove/${itemId}/`;
        // Create object to use to send this data to the server
        // csrfmiddlewaretoken key will match the field django is expecting to see in request.POST when posted to server
        let data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        // Post to server
        $.post(url, data)
        // When done, execute funciton to reload the page
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}