<!-- Products Page extends from base.html -->
{% extends "base.html" %}
<!-- Load static files -->
{% load static %}

<!-- Page header pushes content to bottom of main navbar -->
{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Edited Bootstrap Slider -->
    <div id="hero-slider" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Carousel navigation indicators -->
        <ol class="carousel-indicators">
            <li data-target="#hero-slider" data-slide-to="0" class="active"></li>
            <li data-target="#hero-slider" data-slide-to="1"></li>
            <li data-target="#hero-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item carousel-item-1 active">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Beautifully hand crafted products</h1>
                    <h3>Delivered to your door.</h3>
                </div>
            </div>
            <div class="carousel-item carousel-item-2">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Beautifully hand crafted products</h1>
                    <h3>Delivered to your door.</h3>
                </div>
            </div>
            <div class="carousel-item carousel-item-3">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Beautifully hand crafted products</h1>
                    <h3>Delivered to your door.</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Navigation link images -->

    <!-- Pottery link -->
    <div class="col text-left my-3">
        <h2 class="text-black">
            POTTERY
        </h2>
    </div>

    <a href="#">
        <div class="image-link pottery col-10 offset-1">
            <a href="{% url 'products' %}?category=jugs,cups_mugs,vases" class="shop-now-button btn btn-lg rounded-0 text-uppercase">
                Shop pottery
            </a>
        </div>
    </a>

    <!-- Furniture link -->
    <div class="col text-left my-3 mt-4">
        <h2 class="text-black">
            FURNITURE
        </h2>
    </div>

    <a href="#">
        <div class="image-link furniture col-10 offset-1">
            <a href="{% url 'products' %}?category=tables,chairs,cabinets" class="shop-now-button btn btn-lg rounded-0 text-uppercase">
                Shop furniture
            </a>
        </div>
    </a>

    <!-- Jewellery link -->
    <div class="col text-left my-3 mt-4">
        <h2 class="text-black">
            JEWELLERY
        </h2>
    </div>

    <a href="#">
        <div class="image-link jewellery col-10 offset-1">
            <a href="{% url 'products' %}?category=necklaces,bracelets" class="shop-now-button btn btn-lg rounded-0 text-uppercase">
                Shop jewellery
            </a>
        </div>
    </a>

    <!-- Special offers link -->
    <div class="col text-left my-3 mt-4">
        <h2 class="text-black">
            SPECIAL OFFERS
        </h2>
    </div>

    <a href="#">
        <div class="image-link special-offers col-10 offset-1">
            <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="shop-now-button btn btn-lg rounded-0 text-uppercase">
                Shop special offers
            </a>
        </div>
    </a>
{% endblock %} 