<script type="text/javascript">
    // Toggle the reply comment form when reply link is clicked
    function replyFormToggle(parent_id) {
        // Get the reply comment form
        let toggleForm = document.getElementById(parent_id);

        // If the form is currently displaying, hide it
        if (toggleForm.classList.contains('d-none')) {
            toggleForm.classList.remove('d-none');
        }
        // If the form is not currently displaying, display it
        else {
            toggleForm.classList.add('d-none');
        }
    }

    // Toggle the edit comment form when reeditply link is clicked
    function editFormToggle(parent_id) {
        // Get the edit comment form
        let toggleForm = document.getElementById(parent_id);

        // If the form is currently displaying, hide it
        if (toggleForm.classList.contains('d-none')) {
            toggleForm.classList.remove('d-none');
        }
        // If the form is not currently displaying, display it
        else {
            toggleForm.classList.add('d-none');
        }
    }

    // Toggle/style the rate form when rate button is clicked
    function rateFormToggle() {
        // Get the rate form
        let rateForm = document.getElementById("rate-form")

        // If the form is currently displaying, hide it
        if (rateForm.classList.contains('d-none')) {
            rateForm.classList.remove('d-none');
        }
        // If the form is not currently displaying, display it
        else {
            rateForm.classList.add('d-none');
        }

        // Ensure input value is set to 0
        // Get form rating input
        let rating_input = document.getElementById("id_rating")

        // Set rating input to 0
        rating_input.value = 0;

        // Set rating input's width value
        rating_input.style.width = "140px";
    }
</script>