<div class="container-fluid d-none d-md-block">
    <div class="row">
        <!-- COl1: Heading -->
        <div class="col text-center mt-3">
            <h2 class="logo-font">
                Products
            </h2>
            <hr class="w-50">
        </div>
    </div>
    <div class="row">
        <!-- COL2: Products menu -->
        <div class="col-1" id="products-menu">
            <div id="list">
                <ul class="list-unstyled">
                    <li class="nav-item">
                        <!-- All products menu item/link -->
                        <a href="{% url 'products' %}" class="abc logo-font font-weight-bold nav-link {% if not current_categories %}bg-black text-white{% else %} text-black{% endif %}" id="specials-link" aria-haspopup="true" aria-expanded="false">
                            All Products
                        </a>
                    </li>
            
                    <li class="nav-item ">
                        <!-- Pottery header -->
                        <a href="{% url 'products' %}?category=jugs,cups_mugs,vases" class="abc logo-font font-weight-bold nav-link text-black" id="specials-link" aria-haspopup="true" aria-expanded="false">
                            POTTERY
                        </a>
                        <!-- Pottery links -->
                        <div class="border-0" aria-labelledby="clothing-link">
                            <a href="{% url 'products' %}?category=jugs" class="abc dropdown-item {% for c in current_categories %}{% if c.name == 'jugs' %}bg-black text-white{% endif %}{% endfor %}">JUGS</a>
                            <a href="{% url 'products' %}?category=cups_mugs" class="abc dropdown-item {% for c in current_categories %}{% if c.name == 'cups_mugs' %}bg-black text-white{% endif %}{% endfor %}">CUPS &amp; MUGS</a>
                            <a href="{% url 'products' %}?category=vases" class="abc dropdown-item {% for c in current_categories %}{% if c.name == 'vases' %}bg-black text-white{% endif %}{% endfor %}">VASES</a>
                        </div>
                    </li>
            
                    <li class="nav-item">
                        <!-- Furniture header -->
                        <a href="{% url 'products' %}?category=tables,chairs,cabinets" class="logo-font font-weight-bold nav-link text-black" id="specials-link" aria-haspopup="true" aria-expanded="false">
                            FURNITURE
                        </a>
                        <!-- Furniture links -->
                        <div class="border-0" aria-labelledby="homeware-link">
                            <a href="{% url 'products' %}?category=tables" class="dropdown-item {% for c in current_categories %}{% if c.name == 'tables' %}bg-black text-white{% endif %}{% endfor %}">TABLES</a>
                            <a href="{% url 'products' %}?category=chairs" class="dropdown-item {% for c in current_categories %}{% if c.name == 'chairs' %}bg-black text-white{% endif %}{% endfor %}">CHAIRS</a>
                            <a href="{% url 'products' %}?category=cabinets" class="dropdown-item {% for c in current_categories %}{% if c.name == 'cabinets' %}bg-black text-white{% endif %}{% endfor %}">CABINETS</a>
                        </div>
                    </li>
            
                    <li class="nav-item">
                        <!-- Jewellery header -->
                        <a href="{% url 'products' %}?category=necklaces,bracelets" class="logo-font font-weight-bold nav-link text-black" id="specials-link" aria-haspopup="true" aria-expanded="false">
                            JEWELLERY
                        </a>
                        <!-- Jewellary links -->
                        <div class="border-0" aria-labelledby="specials-link">
                            <a href="{% url 'products' %}?category=necklaces" class="dropdown-item {% for c in current_categories %}{% if c.name == 'necklaces' %}bg-black text-white{% endif %}{% endfor %}">NECKLACES</a>
                            <a href="{% url 'products' %}?category=bracelets" class="dropdown-item {% for c in current_categories %}{% if c.name == 'bracelets' %}bg-black text-white{% endif %}{% endfor %}">BRACELETS</a>
                        </div>
                    </li>
            
                    <li class="nav-item ">
                        <!-- Special offers header -->
                        <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="logo-font font-weight-bold nav-link text-black" id="specials-link" aria-haspopup="true" aria-expanded="false">
                            SPECIAL OFFERS
                        </a>
                        <!-- Specieal offers links -->
                        <div class="border-0" aria-labelledby="specials-link">
                            <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item {% for c in current_categories %}{% if c.name == 'new_arrivals' %}bg-black text-white{% endif %}{% endfor %}">NEW ARRIVALS</a>
                            <a href="{% url 'products' %}?category=deals" class="dropdown-item {% for c in current_categories %}{% if c.name == 'deals' %}bg-black text-white{% endif %}{% endfor %}">DEALS</a>
                            <a href="{% url 'products' %}?category=clearance" class="dropdown-item {% for c in current_categories %}{% if c.name == 'clearance' %}bg-black text-white{% endif %}{% endfor %}">CLEARANCE</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- COL:3 Products display -->
        <div class="col-11">
            <!-- ROW2: Products -->
            <div class="row">
                <!-- COL: Product card container with 2 rows-->
                <div class="product-container col-10 offset-1">
                    <!-- ROW for sort options and search result count -->
                    <div class="row mt-1 mb-2">
                        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                            <div class="sort-select-wrapper w-50">
                                <!-- Displayed option based on current_sorting variable passed from all_products view -->
                                <select id="sort-selector" class="custom-select custom-select-sm border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                    <option value="reset" {% if current_sorting == 'None_None'%}selected{% endif %}>Sort by...</option>
                                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                                </select>
                            </div>
                        </div>
                    
                        <div class="col-12 col-md-6 order-md-first">
                            <p class="text-muted mt-3 text-center text-md-left">
                                <!-- Link to go back to products page if user has filtered products in any way -->
                                {% if search_term or current_categories or current_sorting != 'None_None' %}
                                    <span class="small">
                                        <a href="{% url 'products' %}">Products Home</a> |
                                    </span>
                                {% endif %}
                                <!-- Display number of products along with search term, if present -->
                                {{ products|length }} products{% if search_term %} found for <strong>"{{ search_term }}"</strong> {% endif %}
                            </p>
                        </div>
                    </div>
                    <!-- ROW 2: card display -->
                    <div class="row">
                        {% for product in products %}
                            <!-- Every product will have a column containing a card -->
                            <div class="col-sm-4 col-md-6 col-lg-4 col-xl-3">
                                <div class="card h-100 border-black">
                                    <!-- Product image -->
                                    {% if product.image %}
                                        <!-- If image present, render if with image field's url attribute -->
                                        <div class="img-container">
                                            <a href="{% url 'product_detail' product.id %}">
                                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                            </a>
                                        </div>
                                    {% else %}
                                        <!-- Otherwise, display default image from media folder -->
                                        <div class="img-container">
                                            <a href="{% url 'product_detail' product.id %}">
                                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                            </a>
                                        </div>
                                    {% endif %}
                                    <!-- Card body displayed product name -->
                                    <div class="card-body pb-0">
                                        <p class="mb-0">{{ product.name }}</p>
                                    </div>
                                    <!-- Card footer containing product price and rating -->
                                    <div class="card-footer bg-white p-0 border-0 text-left">
                                        <!-- ROW containing 1 column -->
                                        <div class="row">
                                            <!-- COL containing product price and rating -->
                                            <div class="col-10 offset-1">
                                                <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                                <!-- If the product has a category, display category name as a link -->
                                                {% if product.category %}
                                                <p class="small mt-1 mb-0">
                                                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                        <i class="fas fa-tag mr-1"></i>
                                                        {{ product.category.friendly_name }}
                                                    </a>
                                                </p>
                                                {% endif %}
                                                <!-- If the product has a rating, display in following format -->
                                                {% if product.rating_average %}
                                                    <small class="text-muted">
                                                        <i class="fas fa-star mr-1"></i>
                                                        {{ product.rating_average }} / 5
                                                    </small>
                                                {% else %}
                                                <!-- Otherwise, inform customer the product has no rating -->
                                                    <small class="text-muted">
                                                        No Rating
                                                    </small>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- If user is superuser, provide option to edit/delete product -->
                                        {% if request.user.is_superuser %}
                                            <div class="row">
                                                <!-- Edit product -->
                                                <a class="col-6 btn rounded-0 w-100 text-primary border-right-black p-0 m-0" href="{% url 'edit_product' product.id %}"><small>Edit</small></a> 
                                                <!-- Delete product -->
                                                <a class="col-6 btn rounded-0 w-100 text-danger p-0 m-0" data-toggle="modal" data-target="#product-{{ product.pk }}"><small>Delete</small></a>
                                                <!-- Modal -->
                                                <div class="modal fade rounded-0" id="product-{{ product.pk }}" tabindex="-1" role="dialog" aria-labelledby="product-{{ product.pk }}Label" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header bg-black text-white">
                                                                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this product?</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h4 class="text-black text-center"><strong>{{ product.name }}</strong></h4>
                                                                <br>
                                                                <p class="text-black text-center">"{{ product.description }}"</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a href="{% url 'delete_product' product.id %}" type="button" class="btn btn-black rounded-0 text-uppercase">Delete</a>
                                                                <button type="button" class="btn bg-white border-black rounded-0 text-uppercase" data-dismiss="modal">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <!-- Form to add product to cart -->
                                        <form method="POST" action="{% url 'add_to_cart' product.id %}" class="form">
                                            <!-- POST method requires csrf token for Django's cross site request forgery protection -->
                                            {% csrf_token %}
                                            <!-- ROW containing two columns-->
                                            <div class="form-row">
                                                <!-- COL1: Hidden input group with default value of 1 -->
                                                <div class="col-12 d-none">
                                                    <input type="number" class="form-control qty-input" 
                                                        name="quantity" value="1" min="1" max="99" 
                                                        data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                                </div>

                                                <!-- COL2: Submit button -->
                                                <div class="col-12">
                                                    <input type="submit" class="btn btn-black rounded-0 text-uppercase w-100" value="Add to cart">
                                                </div>
                                                <!-- Send current url to view to redirect user back to original page -->
                                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!-- Horizontal rule displayed based on number of products in each ROW -->
                            {% if forloop.counter|divisibleby:1 %}
                                <div class="col-12 d-sm-none mb-5">
                                    <hr>
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:2 %}
                                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                    <hr>
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:3 %}
                                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                    <hr>
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:4 %}
                                <div class="col-12 d-none d-xl-block mb-5">
                                    <hr>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Back to top button -->
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a href="" class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>