<div class="container-fluid d-none d-md-block">
    <div class="row">
        <!-- COl1: Heading -->
        <div class="col text-center mt-3">
            <h2 class="logo-font">
                Products
            </h2>
            <hr class="w-50">
        </div>
    </div>
    <div class="row">
        <!-- COL2: Products menu -->
        <div class="col-2">
            <div class="">
                <ul class="list-unstyled mb-1 w-auto mx-auto">
                    <li class="nav-item dropdown">
                        <!-- Link triggers dropdown of sorting links -->
                        <a class="logo-font font-weight-bold nav-link text-black" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            All Products
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                            <!-- '?' attaches sort & direction parameters to products url, accessed in get_products view -->
                            <!-- Sort paramaters are fields on product model -->
                            <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                            <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                            <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                            <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                        </div>
                    </li>
            
                    <li class="nav-item dropdown">
                        <!-- Link triggers dropdown of pottery options -->
                        <a class="logo-font font-weight-bold nav-link text-black " href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            POTTERY
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                            <a href="{% url 'products' %}?category=jugs" class="dropdown-item">JUGS</a>
                            <a href="{% url 'products' %}?category=cups_mugs" class="dropdown-item">CUPS &amp; MUGS</a>
                            <a href="{% url 'products' %}?category=vases" class="dropdown-item">VASES</a>
                            <!-- comma ensures comma-separated string in view -->
                            <a href="{% url 'products' %}?category=jugs,cups_mugs,vases" class="dropdown-item">All POTTERY</a>
                        </div>
                    </li>
            
                    <li class="nav-item dropdown">
                        <!-- Link triggers dropdown of furniture options -->
                        <a class="logo-font font-weight-bold nav-link text-black" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            FURNITURE
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                            <a href="{% url 'products' %}?category=tables" class="dropdown-item">TABLES</a>
                            <a href="{% url 'products' %}?category=chairs" class="dropdown-item">CHAIRS</a>
                            <a href="{% url 'products' %}?category=cabinets" class="dropdown-item">CABINETS</a>
                            <a href="{% url 'products' %}?category=tables,chairs,cabinets" class="dropdown-item">All FURNITURE</a>
                        </div>
                    </li>
            
                    <li class="nav-item dropdown">
                        <!-- Link triggers dropdown of jewellery options -->
                        <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            JEWELLERY
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                            <a href="{% url 'products' %}?category=necklaces" class="dropdown-item">NECKLACES</a>
                            <a href="{% url 'products' %}?category=bracelets" class="dropdown-item">BRACELETS</a>
                            <a href="{% url 'products' %}?category=necklaces,bracelets" class="dropdown-item">All JEWELLERY</a>
                        </div>
                    </li>
            
                    <li class="nav-item dropdown">
                        <!-- Link triggers dropdown of special offer options options -->
                        <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            SPECIAL OFFERS
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                            <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                            <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                            <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                            <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- COL:3 Products display -->
        <div class="col-10">
            <!-- ROW2: Products -->
            <div class="row">
                <!-- COL: Product card container with 2 rows-->
                <div class="product-container col-10 offset-1">
                    <!-- ROW for sort options and search result count -->
                    <div class="row mt-1 mb-2">
                        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                            <div class="sort-select-wrapper w-50">
                                <!-- Displayed option based on current_sorting variable passed from all_products view -->
                                <select id="sort-selector" class="custom-select custom-select-sm border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                    <option value="reset" {% if current_sorting == 'None_None'%}selected{% endif %}>Sort by...</option>
                                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                                </select>
                            </div>
                        </div>
                    
                        <div class="col-12 col-md-6 order-md-first">
                            <p class="text-muted mt-3 text-center text-md-left">
                                <!-- Link to go back to products page if user has filtered products in any way -->
                                {% if search_term or current_categories or current_sorting != 'None_None' %}
                                    <span class="small">
                                        <a href="{% url 'products' %}">Products Home</a> |
                                    </span>
                                {% endif %}
                                <!-- Display number of products along with search term, if present -->
                                {{ products|length }} products{% if search_term %} found for <strong>"{{ search_term }}"</strong> {% endif %}
                            </p>
                        </div>
                    </div>
                    <!-- ROW 2: card display -->
                    <div class="row">
                        {% for product in products %}
                            <!-- Every product will have a column containing a card -->
                            <div class="col-sm-4 col-md-6 col-lg-4 col-xl-3">
                                <div class="card h-100 border-0">
                                    <!-- Product image -->
                                    {% if product.image %}
                                        <!-- If image present, render if with image field's url attribute -->
                                        <div class="img-container">
                                            <a href="{% url 'product_detail' product.id %}">
                                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                            </a>
                                        </div>
                                    {% else %}
                                        <!-- Otherwise, display default image from media folder -->
                                        <div class="img-container">
                                            <a href="{% url 'product_detail' product.id %}">
                                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                            </a>
                                        </div>
                                    {% endif %}
                                    <!-- Card body displayed product name -->
                                    <div class="card-body pb-0">
                                        <p class="mb-0">{{ product.name }}</p>
                                    </div>
                                    <!-- Card footer containing product price and rating -->
                                    <div class="card-footer bg-white pt-0 border-0 text-left">
                                        <!-- ROW containing 1 column -->
                                        <div class="row">
                                            <!-- COL containing product price and rating -->
                                            <div class="col">
                                                <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                                <!-- If the product has a category, display category name as a link -->
                                                {% if product.category %}
                                                <p class="small mt-1 mb-0">
                                                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                        <i class="fas fa-tag mr-1"></i>
                                                        {{ product.category.friendly_name }}
                                                    </a>
                                                </p>
                                                {% endif %}
                                                <!-- If the product has a rating, display in following format -->
                                                {% if product.rating_average %}
                                                    <small class="text-muted">
                                                        <i class="fas fa-star mr-1"></i>
                                                        {{ product.rating_average }} / 5
                                                    </small>
                                                {% else %}
                                                <!-- Otherwise, inform customer the product has no rating -->
                                                    <small class="text-muted">
                                                        No Rating
                                                    </small>
                                                {% endif %}
                                                <!-- If user is superuser, provide option to edit/delete product -->
                                                {% if request.user.is_superuser %}
                                                    <small class="ml-3">
                                                        <!-- Edit product -->
                                                        <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                        <!-- Delete product -->
                                                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                    </small>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Horizontal rule displayed based on number of products in each ROW -->
                            {% if forloop.counter|divisibleby:1 %}
                                <div class="col-12 d-sm-none mb-5">
                                    <hr>
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:2 %}
                                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                    <hr>
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:3 %}
                                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                    <hr>
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:4 %}
                                <div class="col-12 d-none d-xl-block mb-5">
                                    <hr>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Back to top button -->
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a href="" class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>