<!-- Checkout Page extends from base.html -->
{% extends "base.html" %}
<!-- Load static files -->
{% load static %}

<!-- CSS file for checkout app-->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

<!-- Page header pushes content to bottom of main navbar -->
{% block page_header %}
    <!-- Grid container containing single row -->
    <div class="container header-container">
        <!-- Row containing empty column -->
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Container with 2 ROWs -->
    <div class="container">
        <!-- ROW 1: Profile heading -->
        <div class="row">
            <!-- COL for My Profile heading -->
            <div class="col">
                <hr>
                <h2 class="logo-font mb4">
                    My Profile
                </h2>
                <hr>
            </div>
        </div>
        <!-- ROW2: Profile & order history -->
        <div class="row">
            <!-- Profile -->
            <div class="col-12 col-lg-6">
                <!-- Delivery info heading -->
                <p class="text-muted">Default Delivery Information</p>
                <!-- Form to submit to profile url -->
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <!-- Submit btn -->
                    <button class="btn btn-black rounded-0 text-uppercase float-right">Update Information</button>
                </form>
            </div>
            <!-- Order history -->
            <div class="col-12 col-lg-6">
                <p class="text-muted">Order History</p>
                <!-- Bootstrap table to display order history -->
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <!-- Table head -->
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <!-- Table body -->
                        <tbody>
                            <!-- Create new row for each order passed from profile view -->
                            {% for order in orders %}
                                <tr>
                                    <!-- Order number -->
                                    <td>
                                        <!-- Link to order history -->
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            <!-- Number truncated, full number displayed on hover -->
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <!-- Order date -->
                                    <td>{{ order.date }}</td>
                                    <!-- List of each item's name, qty -->
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {{ item.product.name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <!-- Order total total -->
                                    <td>€{{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{ profile }}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}