<!-- Checkout Page extends from base.html -->
{% extends "base.html" %}
<!-- Load static files -->
{% load static %}
<!-- Load cart_tools with calc_subtotal filer -->
{% load cart_tools %}

<!-- CSS file for checkout app-->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

<!-- Page header pushes content to bottom of main navbar -->
{% block page_header %}
    <!-- Grid container containing single row -->
    <div class="container header-container">
        <!-- Row containing empty column -->
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Container with 2 ROWs -->
    <div class="container">
        <!-- ROW 1: Checkout heading -->
        <div class="row">
            <!-- COL for shopping cart heading -->
            <div class="col">
                <hr>
                <h2 class="logo-font mb4">
                    Checkout
                </h2>
                <hr>
            </div>
        </div>

        <!-- ROW 2: Order summary & checkout form -->
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="text-muted">Please fill out the form below to complete your order</p>
            </div>
        </div>
    </div>
{% endblock %}