html {
    /* For h100 & vertical centering to work */
    height: 120vh;
    width: 100vw;
    overflow-x: hidden;
}

body {
    min-width: 100%;
    min-height: 100%;
    color: #555;
    font-family: 'Raleway';
    position: relative;
    padding-bottom: 200px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

#qty-input {
    max-width: 20px;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.delete-edit a:first-child {
    border-right: 1px solid black !important;

}

.bg-black {
    background: #000 !important;
}

#progress-bar {
    height: 80%;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    overflow: hidden;
    position: relative;
    justify-content: space-between;
}

#percentage {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #17a2b8;
    background-image: linear-gradient(to right, #40d7f1, #17a2b8);
    position: absolute;
    top: 0;
    min-height: 100%;
    color: white;
}

#free-delivery {
}

.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.carousel-item {
    max-height: 58vh;
    min-height: 58vh;
}

.carousel-item-1 {
    background: url('/media/p2.jpeg') no-repeat center center;
    background-size: cover;
}

.carousel-item-2 {
    background: url('/media/cb2.jpeg') no-repeat center center;
    background-size: cover;
}

.carousel-item-3 {
    background: url('/media/p4.jpeg') no-repeat center center;
    background-size: cover;
}

.carousel-caption {
    color: white;
    font-weight: 100;
} 

.image-link {
    height: 180px;
    background: maroon;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.pottery {
    background: url('/media/p12.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.furniture {
    background: url('/media/t1.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.jewellery {
    background: url('/media/n5.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.special-offers {
    background: url('/media/p11.jpeg') no-repeat center center fixed;
    background-size: cover;
}

/* -------------------------------- cards */
.card {
    overflow: hidden;
    border: none;
    box-shadow: 2px 2px 13px;
    transition: .3s;
}

.card:hover {
    margin-top: -5px;
}

.img-container {
    height: 200px;
    overflow: hidden;
}
.img-container a img {
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* -------------------------------- Product Detail */

/* Rating form */
.stars {
    display: flex;
    justify-content: center;
}
.stars a {
    opacity: 50%;
    cursor: pointer;
    font-size: 30px;
}

.stars:hover a {
    opacity: 100%;
}

.stars a:hover {
    opacity: 100%;
}

.stars a:hover ~ a {
    opacity: 50%;
}

.stars a:active {
    opacity: 100%;
}

.reply {
    cursor: pointer;
}

.edit-delete-product {
    border: 1px solid black;
    border-top: none;
}

.edit-product {
    border-right: none;
}

.shopping-submit {
    font-size: 11px;
}

.atc-input {
    padding: 10px !important;
}

/* -------------------------------- Contact */
.maps {
    height: 365px;
}

/* -------------------------------- Footer */
/* Ensure footer sticks to bottom */
footer {
    position: absolute;
    right: 0;
    margin-bottom: 0;
    left: 0;
    padding: 0;
    margin-top: 275px;
}

#social-links {
    height: 100%;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 125px;
    right: 10px;
}

#products-menu {
    margin-top: -75px;
}

#list {
    min-height: 100%;
    height: 200vh;
    position: fixed;
    overflow: hidden;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Search box placeholder */
input[name='q']::placeholder {
    color: #aab7c4;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Allauth form formatting: */

/* inner-content div paragraphs */
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

/* All inputs */
.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

/* All labels bar "Remember me" */
.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

/* Placeholders */
.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

/* Buttons */
.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Buttons on hover */
.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

/* Links */
.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
}

/* -------------------------------- Product Form */

/* File input span */
.btn-file {
    position: relative;
    overflow: hidden;
}

 /* File input */
.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Checkbox label */
.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

/* Checkbox */
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.bg-404 .card {
    margin-top: 250px;
}

/* -------------------------------- Media Queries: width */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    /* For main site navbar */
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    /* Push body down to bottom of main page header */
    .header-container {
        padding-top: 140px;
    }
}

/* prevent product container from covering side nav on tablet devices */
@media (max-width: 940px) {
    .product-container {
        right: -50px;
    }
}

/* Make carousel text responsive on all screen sizes*/
@media (max-width: 704px) {
    .carousel-caption h2 {
        font-size: 30px;
    }

    .carousel-caption h3 {
        font-size: 25px;
    }
}

@media (max-width: 662px) {
    .carousel-caption h2 {
        font-size: 25px;
    }

    .carousel-caption h3 {
        font-size: 20px;
    }
}

@media (max-width: 554px) {
    .carousel-caption h2 {
        font-size: 20px;
    }

    .carousel-caption h3 {
        font-size: 15px;
    }

    #free-delivery {
        font-size: 12px;
    }
}

@media (max-width: 442px) {
    .carousel-caption h2 {
        font-size: 17px;
    }

    #free-delivery {
        font-size: 10px;
    }
}

@media (max-width: 378px) {
    .carousel-caption h2 {
        font-size: 15px;
    }
}

@media (max-width: 332px) {
    .carousel-caption h2 {
        font-size: 13px;
    }

    .carousel-caption h3 {
        font-size: 13px;
    }

    #free-delivery {
        font-size: 8px;
    }
}

/* Pad the top a bit on smaller screens */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

/* Bring navbar button inline with other list items on sm screen up */
@media (min-width: 576px) {
    .navbar-list-item {
        top: -14px;
    }
}

/* -------------------------------- Media Queries: height */

/* Prevent footer from covering side nav */
@media (max-height: 1300px) {
    #list ul li a {
        font-size: 16px;
    }
}

@media (max-height: 728px) {
    #list ul li a {
        font-size: 15px;
    }
}

@media (max-height: 698px) {
    #list ul li a {
        font-size: 14px;
    }
}

@media (max-height: 668px) {
    #list ul li a {
        font-size: 13px;
    }
}

@media (max-height: 638px) {
    #list ul li a {
        font-size: 12px;
    }
}

@media (max-height: 626px) {
    #list ul li a {
        font-size: 11px;
    }
}

@media (max-height: 600px) {
    #list ul li a {
        font-size: 10px;
    }
}