<!-- Included in base.html nav element -->

<!-- Main navigation, collapsible on mobile, edited from Bootstrap -->
<!-- "main-nav" matches toggle button in base template -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <!-- Link triggers dropdown of sorting links -->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <!-- '?' attaches sort & direction parameters to products url, accessed in get_products view -->
                <!-- Sort paramaters are fields on product model -->
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <!-- Link triggers dropdown of pottery options -->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                POTTERY
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=jugs" class="dropdown-item">JUGS</a>
                <a href="{% url 'products' %}?category=cups_mugs" class="dropdown-item">CUPS &amp; MUGS</a>
                <a href="{% url 'products' %}?category=vases" class="dropdown-item">VASES</a>
                <!-- comma ensures comma-separated string in view -->
                <a href="{% url 'products' %}?category=jugs,cups_mugs,vases" class="dropdown-item">All POTTERY</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <!-- Link triggers dropdown of furniture options -->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                FURNITURE
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=tables" class="dropdown-item">TABLES</a>
                <a href="{% url 'products' %}?category=chairs" class="dropdown-item">CHAIRS</a>
                <a href="{% url 'products' %}?category=cabinets" class="dropdown-item">CABINETS</a>
                <a href="{% url 'products' %}?category=tables,chairs,cabinets" class="dropdown-item">All FURNITURE</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <!-- Link triggers dropdown of jewellery options -->
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                JEWELLERY
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=necklaces" class="dropdown-item">NECKLACES</a>
                <a href="{% url 'products' %}?category=bracelets" class="dropdown-item">BRACELETS</a>
                <a href="{% url 'products' %}?category=necklaces,bracelets" class="dropdown-item">All JEWELLERY</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <!-- Link triggers dropdown of special offer options options -->
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SPECIAL OFFERS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>