<!-- Included in base.html header element -->

<!-- Main page header with logo, search bar, account/cart links-->
<!-- Only to be displayed on medium screens up -->
<div class="bg-white pt-lg-2 d-none d-md-block" id="topnav">

    <!-- COLs stacked horizontally -->
    <!-- COL 1: Logo left aligned -->
    <div class="d-inline-block w-25 my-auto py-1 py-lg-0 text-left">
        <!-- Logo with link to home URL -->
        <a href="{% url 'home' %}" class="nav-link float-left main-logo-link text-center text-lg-left mx-auto">
            <h2 class="logo-font text-black my-0">
                <strong>
                    KRAFTS
                </strong>
            </h2>
        </a>
    </div>
    <!-- COl 2: Account and shopping cart links, contained in unordered list -->
    <div class="d-inline-block w-75 my-auto float-right py-1 py-lg-0">
        <!-- List items right aligned -->
        <ul class="list-inline list-unstyled small text-right my-0">

            <!-- LI 1: Search Button -->
            <li class="list-inline-item m-0">
                <!-- When clicked, search bar below will appear -->
                <a class="d-lg-none text-black nav-link d-block" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <div><i class="fas fa-search fa-lg"></i></div>
                        <p class="my-0 d-none d-sm-block">Search</p>
                    </div>
                </a>
                <!-- Search bar appears when above link is clicked -->
                <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
                    <!-- Search query is get parameter in url, accessed in all_products view -->
                    <form class="form" method="GET" action="{% url 'products' %}">
                        <div class="input-group w-100">
                            <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                            <div class="input-group-append">
                                <button class="form-control form-control btn border border-black rounded-0" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
            <li class="list-inline-item ml-5 d-none d-lg-inline-block w-50 float-left m-0">
                <!-- Search query is get parameter in url, accessed in all_products view -->
                <form class="form ml-xl-5 w-100" method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control form-control btn border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </li>

            <!-- LI 3: Contact -->
            <li class="list-inline-item dropdown m-0">
                <!-- Link leads to contact page -->
                <a class="text-black nav-link" href="{% url 'contact' %}" id="user-options">
                    <div class="text-center">
                        <div class="icon">
                            <i class="fas fa-phone-alt fa-lg"></i>
                        </div>
                        <p class="my-0 d-none d-sm-block">
                            Contact us
                        </p>
                    </div>
                </a>
            </li>

            <!-- LI 4: Account link -->
            <li class="list-inline-item dropdown m-0">
                <!-- Link triggers Bootstrap dropdown below -->
                <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="flase">
                    <div class="text-center">
                        <div>
                            <i class="fas fa-user fa-lg"></i>
                        </div>
                        <p class="my-0 d-none d-sm-block">
                            My Account
                        </p>
                    </div>
                </a>
                <!-- Account menu dropdown, triggered by "My Account" link above -->
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <!-- Only show if user is both authenticated and a superuser -->
                            <a class="dropdown-item" href="{% url 'add_product' %}">Product Management</a>
                        {% endif %}
                        <!-- Shown to all authenticated users -->
                        <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                    {% else %}
                        <!-- Shown only to logged out/unauthenticated users -->
                        <a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a>
                        <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                    {% endif %}
                </div>
            </li>

            <!-- LI 5: Shopping cart link -->
            <li class="list-inline-item m-0">
                <!-- If there is an item in the cart, font is bold -->
                <a class="{% if grand_total %}text-info font-weight-bold{% else %} text-black{% endif %} nav-link" href="{% url 'view_cart' %}">
                    <div class="text-center">
                        <div>
                            <i class="fas fa-shopping-cart fa-lg"></i>
                        </div>
                        <p class="my-0 d-none d-sm-block">
                            <!-- If there is an item in the cart, display the grand_total variable to two decimal places -->
                            {% if grand_total %}
                                €{{ grand_total|floatformat:2 }}
                            <!-- Otherwise, display 0 -->
                            {% else %}
                                €0.00
                            {% endif %}
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- Main navigation-->
<div class="my-auto d-none d-md-block py-1 py-lg-0">
    <ul class="list-inline text-center mb-1 w-auto mx-auto">
        <li class="inline list-inline-item nav-item dropdown">
            <!-- Link triggers dropdown of sorting links -->
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <!-- '?' attaches sort & direction parameters to products url, accessed in get_products view -->
                <!-- Sort paramaters are fields on product model -->
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="inline list-inline-item nav-item dropdown">
            <!-- Link triggers dropdown of pottery options -->
            <a class="logo-font font-weight-bold nav-link text-black " href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                POTTERY
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=jugs" class="dropdown-item">JUGS</a>
                <a href="{% url 'products' %}?category=cups_mugs" class="dropdown-item">CUPS &amp; MUGS</a>
                <a href="{% url 'products' %}?category=vases" class="dropdown-item">VASES</a>
                <!-- comma ensures comma-separated string in view -->
                <a href="{% url 'products' %}?category=jugs,cups_mugs,vases" class="dropdown-item">All POTTERY</a>
            </div>
        </li>

        <li class="inline list-inline-item nav-item dropdown">
            <!-- Link triggers dropdown of furniture options -->
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                FURNITURE
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=tables" class="dropdown-item">TABLES</a>
                <a href="{% url 'products' %}?category=chairs" class="dropdown-item">CHAIRS</a>
                <a href="{% url 'products' %}?category=cabinets" class="dropdown-item">CABINETS</a>
                <a href="{% url 'products' %}?category=tables,chairs,cabinets" class="dropdown-item">All FURNITURE</a>
            </div>
        </li>

        <li class="inline list-inline-item nav-item dropdown">
            <!-- Link triggers dropdown of jewellery options -->
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="jewellery-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                JEWELLERY
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="jewellery-link">
                <a href="{% url 'products' %}?category=necklaces" class="dropdown-item">NECKLACES</a>
                <a href="{% url 'products' %}?category=bracelets" class="dropdown-item">BRACELETS</a>
                <a href="{% url 'products' %}?category=necklaces,bracelets" class="dropdown-item">All JEWELLERY</a>
            </div>
        </li>
    </ul>
</div>
