{% load static %}

<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
            <!-- Required meta tags -->
            <meta http-equiv="X-UA-compatible" content="ie=edg">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block extra_meta %}
            <!-- Extra meta that doesn't interfere with core requirements -->
        {% endblock %}

        {% block corecss %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <!-- Google font links -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&family=Roboto+Slab:wght@100;300;500&display=swap" rel="stylesheet">
            <!-- Custom base.css file -->
            <!-- Static file linked in settings.py under STATIC_URL & STATICFILES_DIRS settings -->
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
            <!-- Extra css that doesn't interfere with core requirements -->
        {% endblock %}

        {% block corejs %}
            <!-- Fontawesome kit -->
            <script src="https://kit.fontawesome.com/def5cb55d0.js" crossorigin="anonymous"></script>
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}

        {% block extra_js %}
            <!-- Extra js that doesn't interfere with core requirements -->
        {% endblock %}
        <title>Kraft {% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        <header class="container-fluid fixed-top">
            <!-- Main page header with logo, search bar, account/cart links-->
            <!-- Only to be displayed on large screens -->
            <div class="row bg-white pt-lg-2 d-none d-lg-flex" id="topnav">

                <!-- COLs stacked virtically on sm screens, horizontally on lg screens, have padding on sm screens -->
                <!-- COL 1: Logo centered on sm screens, left aligned on lg screens -->
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                    <!-- Logo with link to home URL -->
                    <a href="{% url 'home' %}" class="nav-link main-logo-link">
                        <h2 class="logo-font text-black my-0">
                            <strong>
                                KRAFT
                            </strong>
                        </h2>
                    </a>
                </div>

                <!-- COL 2: Search form -->
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <!-- Searches submitted as url parameters (GET) to all_products view -->
                    <form method="GET" action="{% url 'products' %}">
                        <!-- Input group containing search bar text input -->
                        <div class="input-group w-100">
                            <!-- Search bar text input, "q" name submitted to action URL -->
                            <input class="form-control border-right-0 border-black rounded-1" type="text" name="q" placeholder="Search for products">
                            <!-- Btn attached to text input -->
                            <div class="input-group-append">
                                <button class="form-control btn border-left-0 border-black rounded-1">
                                    <span class="icon">
                                        <i class="fas fa-search"> </i>
                                    </span>
                                </button>
                            </div>

                        </div>
                    </form>
                </div>

                <!-- COl 3: Account and shopping cart links, contained in unordered list -->
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <!-- List items aligned horizontally, centered on sm screens, right algigned on lg screens -->
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <!-- LI 1: Account link -->
                        <li class="list-inline-item dropdown">
                            <!-- Link triggers Bootstrap dropdown below, when clicked -->
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="flase">
                                <div class="text-center">
                                    <div>
                                        <i class="fas fa-user fa-lg"></i>
                                    </div>
                                    <p class="my-0">
                                        My Account
                                    </p>
                                </div>
                            </a>
                            <!-- Account menu dropdown, triggered by "My Account" link above -->
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <!-- Only show if user is both authenticated and a superuser -->
                                        <a class="dropdown-item" href="">Product Management</a>
                                    {% endif %}
                                    <!-- Shown to all authenticated users -->
                                    <a class="dropdown-item" href="">Profile</a>
                                    <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                                {% else %}
                                    <!-- Shown only to logged out/unauthenticated users -->
                                    <a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a>
                                    <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                                {% endif %}
                            </div>
                        </li>

                        <!-- LI 2: Shopping cart link -->
                        <li class="list-inline-item">
                            <!-- If there is an item in the cart, font is bold -->
                            <a class="{% if grand_total %}text-info font-weight-bold{% else %} text-black{% endif %} nav-link" href="{% url 'view_cart' %}">
                                <div class="text-center">
                                    <div>
                                        <i class="fas fa-shopping-cart fa-lg"></i>
                                    </div>
                                    <p class="my-0">
                                        <!-- If there is an item in the cart, display the grand_total variable to two decimal places -->
                                        {% if grand_total %}
                                            €{{ grand_total|floatformat:2 }}
                                        <!-- Otherwise, display 0 -->
                                        {% else %}
                                            €0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>
            <!-- Main site navigation with sorting functionality -->
            <!-- Bootstrap collapsible nav -->
            <div class="row bg-white">
                <nav class="navbar navbar-expand-lg navbar-light w-100">
                    <!-- Toggle button for main navigation -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Header seen only on mobile devices -->
                    {% include 'includes/mobile-top-header.html' %}
                    <!-- Main navigation with sorting links, triggered by above button on mobile devices -->
                    {% include 'includes/main-nav.html' %}
                </nav>
            </div>
            <!-- Banner displayed under nav informing customers of free delivery requirements -->
            <div id="delivery-banner" class="row text-center bg-white">
                <div class="col text-black">
                    <progress max="{{ free_delivery_threshold }}" value=".01"></progress>
                    <span>€ more for free delivery!</span>
                    <!-- free_delivery_threshold found in settings.py -->
                    <!-- <h4 class="logo-font my-1">Free delivery on orders over €{{ free_delivery_threshold }}!</h4>                 -->
                </div>            
            </div>
        </header>

        <!-- Messages sent back from Django displayed here -->
        {% if messages %}
            <div class="message-container"></div>
        {% endif %}

        <!-- Additional header on pages that extend this base template -->
        {% block page_header %}
        {% endblock %}

        <!-- Main page content -->
        {% block content %}
        {% endblock %}

        <!-- Javascript to be loaded at end of the body -->
        {% block postloadjs %}
        {% endblock %}
    </body>
</html>