{% load static %}

<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
            <!-- Required meta tags -->
            <meta http-equiv="X-UA-compatible" content="ie=edg">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block extra_meta %}
            <!-- Extra meta that doesn't interfere with core requirements -->
        {% endblock %}

        {% block corecss %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <!-- Google font links -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&family=Roboto+Slab:wght@100;300;500&display=swap" rel="stylesheet">
            <!-- Custom base.css file -->
            <!-- Static file linked in settings.py under STATIC_URL & STATICFILES_DIRS settings -->
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
            <!-- Extra css that doesn't interfere with core requirements -->
        {% endblock %}

        {% block corejs %}
            <!-- Fontawesome kit -->
            <script src="https://kit.fontawesome.com/def5cb55d0.js" crossorigin="anonymous"></script>
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <!-- Stripe -->
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}

        {% block extra_js %}
            <!-- Extra js that doesn't interfere with core requirements -->
        {% endblock %}
        <title>Krafts {% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        <header class="container-fluid bg-white fixed-top">
            <!-- Header seen on medium screens up-->
            {% include 'includes/md-top-header.html' %}
            <!-- Header seen on smaller devices-->
            {% include 'includes/mobile-top-header.html' %}
            <!-- Progress bar displayed under nav informing customers of free delivery requirements -->
            <div id="delivery-banner mt-0 pt-0" class="row bg-white">
                <!-- Progress bar-->
                <div class="col-6 col-md 7">
                    <div class="w-75 float-right" id="progress-bar" data-total="{{ grand_total|floatformat:2 }}">
                        <div id="percentage"></div>
                    </div>
                </div>
                <!-- free_delivery_threshold/free_delivery_delta found in settings.py -->
                <div class="col-6 col-md-5 text-black float-left" id="free-delivery">
                    <span>€{{ free_delivery_delta }} more for free delivery!</span>
                </div>
            </div>
        </header>

        <!-- Messages sent back from Django displayed here -->
        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% with message.level as level %}
                        <!-- Message of level 40 is an error -->
                        {% if level == 40 %}
                            {% include 'includes/toasts/toast_error.html' %}
                        <!-- Message of level 30 is a warning -->
                        {% elif level == 30 %}
                            {% include 'includes/toasts/toast_warning.html' %}
                        <!-- Message of level 25 is success -->
                        {% elif level == 25 %}
                            {% include 'includes/toasts/toast_success.html' %}
                        <!-- Use info for all other cases -->
                        {% else %}
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}

        <!-- Additional header on pages that extend this base template -->
        {% block page_header %}
        {% endblock %}

        <!-- Main page content -->
        {% block content %}
        {% endblock %}

        <!-- Footer -->
        <footer class="row bg-black" id="footer">
            <!-- COL1: Logo with link to home URL -->
            <div class="col-2 py-3 d-flex align-items-center justify-content-center">
                <a href="{% url 'home' %}" class="main-logo-link text-center">
                    <h2 class="logo-font text-white my-0">
                        <strong>
                            KRAFTS
                        </strong>
                    </h2>
                </a>
            </div>
            <!-- COL2: Contact info -->
            <div class="col-8 d-flex align-items-center justify-content-center">
                <a class="text-white nav-link" href="{% url 'contact' %}" id="user-options">
                    <div class="text-center">
                        <div class="icon my-2">
                            <i class="fas fa-phone-alt fa-lg"></i>
                        </div>
                        <small>
                            <p class="my-0 ">
                                KRAFTS ltd.
                            </p>
                            <p class="my-0 ">
                                Address line one
                            </p>
                            <p class="my-0 ">
                                Address line two
                            </p>
                        </small>
                    </div>
                </a>
            </div>
            <!-- COL3: Social links -->
            <div class="col-2">
                <ul class="list-inline list-unstyled mx-auto mb-2 d-flex align-items-center justify-content-center" id="social-links">
                    <!-- Twitter -->
                    <li class="list-inline-item mx-3">
                        <a class="text-white" href="https://twitter.com/" target="_blank">
                            <span class="icon">
                                <i class="fab fa-twitter fa-lg"></i>
                            </span>
                        </a>
                    </li>
                    <!-- Instagram -->
                    <li class="list-inline-item mx-3">
                        <a class="text-white" href="https://www.instagram.com/" target="_blank">
                            <span class="icon">
                                <i class="fab fa-instagram fa-lg"></i>
                            </span>
                        </a>
                    </li>
                    <!-- Facebook -->
                    <li class="list-inline-item mx-3">
                        <a class="text-white" href="https://www.facebook.com/" target="_blank">
                            <span class="icon">
                                <i class="fab fa-facebook-f fa-lg"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            
        </footer>

        <!-- Javascript to be loaded at end of the body -->
        {% block postloadjs %}
            <!-- Ensure MESSAGE_STORAGE variable in settings.py is set -->
            <script type="text/javascript">
                // Call toast BS method with option of 'show' on elements with .toast class
                $('.toast').toast('show');
            </script>
            <!-- Custom base.js file -->
            <script src="{% static 'js/base.js' %}"></script>
        {% endblock %}
    </body>
</html>