{% load static %}

<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
            <!-- Required meta tags -->
            <meta http-equiv="X-UA-compatible" content="ie=edg">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block extra_meta %}
            <!-- Extra meta that doesn't interfere with core requirements -->
        {% endblock %}

        {% block corecss %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <!-- Google font links -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&family=Roboto+Slab:wght@100;300;500&display=swap" rel="stylesheet">
            <!-- Custom base.css file -->
            <!-- Static file linked in settings.py under STATIC_URL & STATICFILES_DIRS settings -->
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
            <!-- Extra css that doesn't interfere with core requirements -->
        {% endblock %}

        {% block corejs %}
            <!-- Fontawesome kit -->
            <script src="https://kit.fontawesome.com/def5cb55d0.js" crossorigin="anonymous"></script>
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <!-- Stripe -->
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}

        {% block extra_js %}
            <!-- Extra js that doesn't interfere with core requirements -->
        {% endblock %}
        <title>Krafts {% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        <header class="container-fluid fixed-top">
            <!-- Main page header with logo, search bar, account/cart links-->
            <!-- Only to be displayed on large screens -->
            <div class="row bg-white pt-lg-2" id="topnav">

                <!-- COLs stacked virtically on sm screens, horizontally on lg screens, have padding on sm screens -->
                <!-- COL 1: Logo centered on sm screens, left aligned on lg screens -->
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                    <!-- Logo with link to home URL -->
                    <a href="{% url 'home' %}" class="nav-link main-logo-link">
                        <h2 class="logo-font text-black my-0">
                            <strong>
                                KRAFTS
                            </strong>
                        </h2>
                    </a>
                </div>

                <!-- COL 2: Search form -->
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <ul class="navbar-nav w-auto mx-auto">
                        <!-- Link to home page only visible on mobile screens -->
                        <li class="nav-item d-block d-md-none">
                            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                                Home
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <!-- Link triggers dropdown of sorting links -->
                            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                All Products
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                                <!-- '?' attaches sort & direction parameters to products url, accessed in get_products view -->
                                <!-- Sort paramaters are fields on product model -->
                                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                            </div>
                        </li>
                
                        <li class="nav-item dropdown">
                            <!-- Link triggers dropdown of pottery options -->
                            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                POTTERY
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                                <a href="{% url 'products' %}?category=jugs" class="dropdown-item">JUGS</a>
                                <a href="{% url 'products' %}?category=cups_mugs" class="dropdown-item">CUPS &amp; MUGS</a>
                                <a href="{% url 'products' %}?category=vases" class="dropdown-item">VASES</a>
                                <!-- comma ensures comma-separated string in view -->
                                <a href="{% url 'products' %}?category=jugs,cups_mugs,vases" class="dropdown-item">All POTTERY</a>
                            </div>
                        </li>
                
                        <li class="nav-item dropdown">
                            <!-- Link triggers dropdown of furniture options -->
                            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                FURNITURE
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                                <a href="{% url 'products' %}?category=tables" class="dropdown-item">TABLES</a>
                                <a href="{% url 'products' %}?category=chairs" class="dropdown-item">CHAIRS</a>
                                <a href="{% url 'products' %}?category=cabinets" class="dropdown-item">CABINETS</a>
                                <a href="{% url 'products' %}?category=tables,chairs,cabinets" class="dropdown-item">All FURNITURE</a>
                            </div>
                        </li>
                
                        <li class="nav-item dropdown">
                            <!-- Link triggers dropdown of jewellery options -->
                            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                JEWELLERY
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                                <a href="{% url 'products' %}?category=necklaces" class="dropdown-item">NECKLACES</a>
                                <a href="{% url 'products' %}?category=bracelets" class="dropdown-item">BRACELETS</a>
                                <a href="{% url 'products' %}?category=necklaces,bracelets" class="dropdown-item">All JEWELLERY</a>
                            </div>
                        </li>
                
                        <li class="nav-item dropdown">
                            <!-- Link triggers dropdown of special offer options options -->
                            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                SPECIAL OFFERS
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- COl 3: Account and shopping cart links, contained in unordered list -->
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <!-- List items aligned horizontally, centered on sm screens, right algigned on lg screens -->
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <!-- LI 1: Search Button -->
                        <li class="list-inline-item">
                            <!-- When clicked, search bar below will appear -->
                            <a class="text-black nav-link d-block" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="fas fa-search fa-lg"></i></div>
                                    <p class="my-0">Search</p>
                                </div>
                            </a>
                            <!-- Search bar appears when above link is clicked -->
                            <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
                                <!-- Search query is get parameter in url, accessed in all_products view -->
                                <form class="form" method="GET" action="{% url 'products' %}">
                                    <div class="input-group w-100">
                                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                                        <div class="input-group-append">
                                            <button class="form-control form-control btn border border-black rounded-0" type="submit">
                                                <span class="icon">
                                                    <i class="fas fa-search"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- LI 2: Account link -->
                        <li class="list-inline-item dropdown">
                            <!-- Link triggers Bootstrap dropdown below, when clicked -->
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="flase">
                                <div class="text-center">
                                    <div>
                                        <i class="fas fa-user fa-lg"></i>
                                    </div>
                                    <p class="my-0">
                                        My Account
                                    </p>
                                </div>
                            </a>
                            <!-- Account menu dropdown, triggered by "My Account" link above -->
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <!-- Only show if user is both authenticated and a superuser -->
                                        <a class="dropdown-item" href="{% url 'add_product' %}">Product Management</a>
                                    {% endif %}
                                    <!-- Shown to all authenticated users -->
                                    <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                                    <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                                {% else %}
                                    <!-- Shown only to logged out/unauthenticated users -->
                                    <a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a>
                                    <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                                {% endif %}
                            </div>
                        </li>

                        <!-- LI 3: Shopping cart link -->
                        <li class="list-inline-item">
                            <!-- If there is an item in the cart, font is bold -->
                            <a class="{% if grand_total %}text-info font-weight-bold{% else %} text-black{% endif %} nav-link" href="{% url 'view_cart' %}">
                                <div class="text-center">
                                    <div>
                                        <i class="fas fa-shopping-cart fa-lg"></i>
                                    </div>
                                    <p class="my-0">
                                        <!-- If there is an item in the cart, display the grand_total variable to two decimal places -->
                                        {% if grand_total %}
                                            €{{ grand_total|floatformat:2 }}
                                        <!-- Otherwise, display 0 -->
                                        {% else %}
                                            €0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>
            <!-- Main site navigation with sorting functionality -->
            <!-- Bootstrap collapsible nav -->
            <div class="row bg-white">
                <nav class="navbar navbar-expand-lg navbar-light w-100">
                    <!-- Toggle button for main navigation -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Header seen only on mobile devices -->
                    <!-- Main navigation with sorting links, triggered by above button on mobile devices -->
                    
                </nav>
            </div>
            <!-- Banner displayed under nav informing customers of free delivery requirements -->
            <div id="delivery-banner" class="row text-center bg-white">
                <div class="col text-black">
                    <progress max="{{ free_delivery_threshold }}" value=".01"></progress>
                    <span>€{{ free_delivery_delta }} more for free delivery!</span>
                    <!-- free_delivery_threshold found in settings.py -->
                </div>            
            </div>
        </header>

        <!-- Messages sent back from Django displayed here -->
        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% with message.level as level %}
                        <!-- Message of level 40 is an error -->
                        {% if level == 40 %}
                            {% include 'includes/toasts/toast_error.html' %}
                        <!-- Message of level 30 is a warning -->
                        {% elif level == 30 %}
                            {% include 'includes/toasts/toast_warning.html' %}
                        <!-- Message of level 25 is success -->
                        {% elif level == 25 %}
                            {% include 'includes/toasts/toast_success.html' %}
                        <!-- Use info for all other cases -->
                        {% else %}
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}

        <!-- Additional header on pages that extend this base template -->
        {% block page_header %}
        {% endblock %}

        <!-- Main page content -->
        {% block content %}
        {% endblock %}

        <!-- Javascript to be loaded at end of the body -->
        {% block postloadjs %}
            <!-- Ensure MESSAGE_STORAGE variable in settings.py is set -->
            <script type="text/javascript">
            // Call toast BS method with option of 'show' on elements with .toast class
                $('.toast').toast('show');
            </script>
        {% endblock %}
    </body>
</html>