<!-- Contact Page extends from base.html -->
{% extends "base.html" %}
<!-- Load static files -->
{% load static %}

<!-- Page header pushes content to bottom of main navbar -->
{% block page_header %}
    <!-- Grid container containing single row -->
    <div class="container header-container">
        <!-- Row containing empty column -->
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Container with 2 ROWs -->
    <div class="container pt-4">
        <!-- ROW 1: Contact heading -->
        <div class="row">
            <!-- COL for Contact heading -->
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb4">
                    Contact Us
                </h2>
                <hr>
            </div>
        </div>

        <!-- ROW 2: Contact form/Google maps -->
        <div class="row">
            <!-- COL1: Contact form -->
            <div class="col-12 col-md-6">
                <!-- Crispy form -->
                <form method="POST" action="{% url 'contact' %}" class="form mb-2">
                    {% csrf_token %}
                    <!-- Render each field as a crispy field -->
                    {% for field in form %}
                        {{ field | as_crispy_field }}
                    {% endfor %}
                    <!-- Cancel/submit buttons -->
                    <div class="text-right">
                        <!-- Direct user back to products page in event of change of mind -->
                        <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                        <!-- Submit message -->
                        <button class="btn btn-black rounded-0" type="submit">Send</button>
                    </div>
                </form>
            </div>
            <!-- COL2: Google maps -->
            <div class="col-12 col-md-6">
                <div class="address-maps">
                    <div class="address">
                        <address>
                            <span><strong class="text-black">Address: </strong></span>
                            <br>
                            O'Connell Street Lower,
                            North City, 
                            Dublin 1
                        </address>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4763.297836640281!2d-6.264875566897683!3d53.34954058217341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e843fffffff%3A0x230e1568ca6382ec!2sGPO%20Museum!5e0!3m2!1sen!2sie!4v1635000813046!5m2!1sen!2sie" class="maps w-100" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}