<!-- Products Page extends from base.html -->
{% extends "base.html" %}
<!-- Load static files -->
{% load static %}

<!-- Page header pushes content to bottom of main navbar -->
{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- White overlay to cover up cover image -->
    <div class="overlay"></div>
    <!-- Bootstrap grid -->
    <div class="container-fluid">
        <!-- ROW1: Page title and any selected categories -->
        <div class="row">
            <!-- COl: Products heading -->
            <div class="col text-center mt-3">
                <h2 class="logo-font">
                    Products
                </h2>
                <hr class="w-50">
            </div>
        </div>
        <!-- ROW2: Products -->
        <div class="row">
            <!-- COL: Product card container with 2 rows-->
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <!-- ROW 2: -->
                <div class="row">
                    {% for product in products %}
                        <!-- Every products will have a column containing a card -->
                        <div class="col-sm-4 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                <!-- Product image -->
                                {% if product.image %}
                                    <!-- If image present, render if with image field's url attribute -->
                                    <div class="img-container">
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                    </div>
                                {% else %}
                                    <!-- Otherwise, display default image from media folder -->
                                    <div class="img-container">
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                        </a>
                                    </div>
                                {% endif %}
                                <!-- Card body displayed product name -->
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <!-- Card footer containing product price and rating -->
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <!-- ROW containing 1 column -->
                                    <div class="row">
                                        <!-- COL containing product price and rating -->
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                            <!-- If the product has a rating, display in following format -->
                                            {% if product.rating %}
                                                <small class="text-muted">
                                                    <i class="fas fa-star mr-1"></i>
                                                    {{ product.rating }} / 5
                                                </small>
                                            {% else %}
                                            <!-- Otherwise, inform customer the product has no rating -->
                                                <small class="text-muted">
                                                    No Rating
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Horizontal rule displayed based on number of products in each ROW -->
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}